doctype html
html
  head  
    title= title
    link(rel='stylesheet', href='../public/stylesheets/style.css')
    body
      header
      h1= "The Library"
      div.container  
        block content





